body{
   
    background-color: gray;
 }
 
 
 div.top_main {
     width: 100%;
     height:50px;
     background-color: rgb(44,63,110);
 }
 
 table.topt{
     width: 100%;
     height: inherit;
     border-style: none;
     margin: auto;
     /*color: orange;*/
     color: pink;
     
        margin: auto;
        font-size: 2rem;
    
      
 }
 
 #social:hover {
     color:goldenrod;
     width: 35px;
     height: 35px;
     padding-top: 10px;
 }
 
 #social :hover {
     border-radius: 5px;
     background-color: white;
     color: coral;
     cursor:pointer;
 }
 table.topt tr th span:hover {
     opacity: 0.7;
     cursor:pointer;
 }
 /*end of main css*/
 div.header {
     width: 100%;
     height: 220px;
     background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRn6VPAuGLKzFLh8DDGpx5ladNYgjYG4oE8-g&s);
  background-size: auto;
     background-position: bottom left;
      background-attachment: local;
 }








 .container {
    
    position: relative;
    width: 320px;
    margin: 100px auto 0 auto;
    perspective: 1000px;
  }
  
  .carousel {
    
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d; 
    animation: rotate360 60s infinite forwards linear;
  }
  .carousel__face { 
    position: absolute;
    width: 300px;
    height: 187px;
    top: 20px;
    left: 10px;
    right: 10px;
    background-size: cover;
    box-shadow:inset 0 0 0 2000px rgba(0,0,0,0.5);
    display: flex;
    
  }
  







 /*span {
    margin: auto;
    font-size: 2rem;
  }*/
  
  
  .carousel__face:nth-child(1) {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ3R2gXC3aKIeJIMVZ2jyTlh8_SnbNUu4f52w&s");
    transform: rotateY(  0deg) translateZ(430px); }
  .carousel__face:nth-child(2) { 
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqShOrcxnY4PFw0ur4VTS6NWBc8ASeaIUt0w&s");
      transform: rotateY( 40deg) translateZ(430px); }
  .carousel__face:nth-child(3) {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSF74AQHTylIMN11EDPhDfsvIz8lYzDzoVl3w&s");
    transform: rotateY( 80deg) translateZ(430px); }
  .carousel__face:nth-child(4) {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT8v6Qa24hC0pqBMF1Pxj2m-scAo7qwUxfIHQ&s");
    transform: rotateY(120deg) translateZ(430px); }
  .carousel__face:nth-child(5) { 
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQnuwQD6KXX2WNWpQx2mHpmlz_J0lyaJtdWwA&s");
   transform: rotateY(160deg) translateZ(430px); }
  .carousel__face:nth-child(6) { 
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTYuOu-Kk4UOqPoktLUfBSJfHCNo9okqThmkw&s");
   transform: rotateY(200deg) translateZ(430px); }
  .carousel__face:nth-child(7) { 
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSExdC-aALPsPpye1chl8iaAhBQwKvsdMF4Bw&s");
   transform: rotateY(240deg) translateZ(430px); }
  .carousel__face:nth-child(8) {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwPLIRA-hg8NH3XnP6MfNFImVWW_XN2jDZfg&s");
    transform: rotateY(280deg) translateZ(430px); }
  .carousel__face:nth-child(9) {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIVxXkeWGyEvvFfLKk8hVNZL2kIAzwFnSVVg&s");
    transform: rotateY(320deg) translateZ(430px); }
  
  
  
  @keyframes rotate360 {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(-360deg);
    }
    
  }













  scrolling-promotion .promotion img, .scrolling-promotion .promotion svg {
    max-width: 100%;
    width: auto;
    height: calc(var(--image-height)* .75);}




    .footer{
      margin: 0;
      padding: 0;
      box-sizing: sans-serif;
      

    }
    /*body{
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      min-height: 100vh;
      background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTAPpYkf8luSBiO9M6-ugdSc4-9r5ei8fxz9Q&s);
      background-image: url(../4444444.jpeg);
      
    }*/
    .footer{
      position: relative;
      width: 100%;
      background: #3586ff;
      min-height: 100px;
      padding: 20px 50px;
    }
    footer .icons , footer .menu{
      position: relative;
      display: flex;
      justify-content: center;
      margin: 10px 0;
      flex-wrap: wrap;
      size: -10cap;
    }
    footer .icons li ,footer .menu li {
      list-style: none;
    }
     footer .icons li a , footer .menu li a{
      font-size: 2em;
      color: #fff;
      margin: 0 10px;
      display: inline;
      transition: 0.5s;
      text-decoration: none;
      opacity: 0.75;

     }

     footer .icons li a:hover{
      transform: translate(-10px);
     }
     footer .menu li a{
      font-size: 1em;
      color: #fff;
      margin: 0 10px;
      display: inline;
      transition: 0.5s;


     }

     footer .menu li a:hover{
      opacity: 1;
     }
  

     footer p{
      color: #fff;
      text-align: center;
      margin-top: 15px;
      margin-bottom: 10px;
      font-size: 1.1em;
     }

     /*footer .wave{
      position: absolute;
      top: -100px;
      left: 0;
      width: 100%;
      height: 100px;
      background: red url(../4444444.jpeg);
      background-size: 1000px 100px ;
     }
     footer .wave#wave1{
      z-index: 1000;
      opacity: 1;
      bottom: 0;
      animation: animatewavw 4s linear infinite;
     }
     @keyframes animatewavw{
      0%{
        background-position-x: 1000px;
      }
      100%{
      background-position-x: 1000px;
    }
     }*/